<div class="container-big-card">

<a href="https://ge.globo.com/futebol/brasileirao-serie-a/">

  <div class="big-card-image">
  <img src="https://tntsports.com.br/__export/1592412188749/sites/esporteinterativo/img/2020/06/17/brasileira-primeira-rodada_00079062_0.jpg_1902800913.jpg" alt=""
  height="250px"
  width="398px"
  srcset="">
</div>

</a>


  <h1>
    <a href="https://ge.globo.com/futebol/brasileirao-serie-a/">
    <div class="big-card-title">
      <h1>Tabela do Brasileirão</h1>
    </div>
  </a>
</h1>

  <div class="big-card-description">
    <p>Segue a tabela do Brasileirão serie A Segue a tabela do Brasileirão serie A vSegue a tabela do Brasileirão serie A</p>
  </div>

</div>
